<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.zhm.demo.mapper.Mapper">
    <!--验证用户登录-->
    <select id="getUserInfo" resultType="com.zhm.demo.entity.UserEntity">
        SELECT * FROM user_t WHERE id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>